.greeting-content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  @include tablets {
    flex-direction: column;
    justify-content: center;
  }
  &__column {
    flex: 1 0 50%;
    @include tablets {
      align-items: center;
      flex: 0 1 100%;
    }
  }
  &__burger {
    background: url("../images/icons/drops.svg") no-repeat;
    display: flex;
    justify-content: center;
    width: rem(451px);
    height: rem(424px);
    padding: 0 0 rem(138px) rem(20px);
    @include  tablets {
      background-size: contain;
      width: rem(300px);
      height: rem(282px);
      padding: 0 0 rem(92px) rem(13px);
    }
  }
  &__img {
    align-self: center;
    width: 100%;
  }
  &__info {
    height: 100%;
    display: flex;
    flex-direction: column;
    @include tablets {
      height: auto;
    }
  }
  &__title {
    @include title($yellow);
    margin: 0 0 rem(20px) 0;
    @include  tablets {
      text-align: center;
    }
  }
  &__text {
    color: #ffffff;
    @include lifehack();
    font-size: rem(65px);
    margin: 0;
    @include tablets {
      text-align: center;
      padding: 0 rem(120px);
      font-size: rem(43px);
    }
  }
}