@charset "UTF-8";
body, html {
  margin: 0;
  overflow: hidden;
  -webkit-transition: opacity 400ms;
  -o-transition: opacity 400ms;
  transition: opacity 400ms; }

body, .onepage-wrapper, html {
  display: block;
  position: static;
  padding: 0;
  width: 100%;
  height: 100%; }

.onepage-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  padding: 0;
  -webkit-transform-style: preserve-3d; }

.onepage-wrapper .section {
  width: 100%;
  height: 100%; }

.onepage-pagination {
  position: absolute;
  right: 10px;
  top: 50%;
  z-index: 5;
  list-style: none;
  margin: 0;
  padding: 0; }

.onepage-pagination li {
  padding: 0;
  text-align: center; }

.onepage-pagination li a {
  padding: 10px;
  width: 4px;
  height: 4px;
  display: block; }

.onepage-pagination li a:before {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px; }

.onepage-pagination li a.active:before {
  width: 10px;
  height: 10px;
  background: none;
  border: 1px solid black;
  margin-top: -4px;
  left: 8px; }

.disabled-onepage-scroll, .disabled-onepage-scroll .wrapper {
  overflow: auto; }

.disabled-onepage-scroll .onepage-wrapper .section {
  position: relative !important;
  top: auto !important;
  left: auto !important; }

.disabled-onepage-scroll .onepage-wrapper {
  -webkit-transform: none !important;
  transform: none !important;
  -ms-transform: none !important;
  min-height: 100%; }

.disabled-onepage-scroll .onepage-pagination {
  display: none; }

body.disabled-onepage-scroll, .disabled-onepage-scroll .onepage-wrapper, html {
  position: inherit; }

/**
 * Swiper 4.0.6
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * http://www.idangero.us/swiper/
 *
 * Copyright 2014-2017 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: November 13, 2017
 */
.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1; }

.swiper-container-no-flexbox .swiper-slide {
  float: left; }

.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0); }

.swiper-container-multirow > .swiper-wrapper {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto; }

.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform; }

.swiper-invisible-blank-slide {
  visibility: hidden; }

/* Auto Height */
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto; }

.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  -o-transition-property: transform, height;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform; }

/* 3D Effects */
.swiper-container-3d {
  -webkit-perspective: 1200px;
  perspective: 1200px; }

.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10; }

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent);
  background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent);
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent); }

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent); }

.swiper-container-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent); }

.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent); }

/* IE10 Windows Phone 8 Fixes */
.swiper-container-wp8-horizontal,
.swiper-container-wp8-horizontal > .swiper-wrapper {
  -ms-touch-action: pan-y;
  touch-action: pan-y; }

.swiper-container-wp8-vertical,
.swiper-container-wp8-vertical > .swiper-wrapper {
  -ms-touch-action: pan-x;
  touch-action: pan-x; }

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  -webkit-background-size: 27px 44px;
          background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat; }

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none; }

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  left: 10px;
  right: auto; }

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  right: 10px;
  left: auto; }

.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-next.swiper-button-white,
.swiper-container-rtl .swiper-button-prev.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E"); }

.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms opacity;
  -o-transition: 300ms opacity;
  transition: 300ms opacity;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10; }

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0; }

/* Common Styles */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 10px;
  left: 0;
  width: 100%; }

/* Bullets */
.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0; }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transform: scale(0.33);
  -ms-transform: scale(0.33);
  transform: scale(0.33);
  position: relative; }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  -webkit-transform: scale(0.66);
  -ms-transform: scale(0.66);
  transform: scale(0.66); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  -webkit-transform: scale(0.33);
  -ms-transform: scale(0.33);
  transform: scale(0.33); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  -webkit-transform: scale(0.66);
  -ms-transform: scale(0.66);
  transform: scale(0.66); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  -webkit-transform: scale(0.33);
  -ms-transform: scale(0.33);
  transform: scale(0.33); }

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  background: #000;
  opacity: 0.2; }

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer; }

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff; }

.swiper-container-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0px, -50%, 0);
  transform: translate3d(0px, -50%, 0); }

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 6px 0;
  display: block; }

.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 8px; }

.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: inline-block;
  -webkit-transition: 200ms top, 200ms -webkit-transform;
  transition: 200ms top, 200ms -webkit-transform;
  -o-transition: 200ms transform, 200ms top;
  transition: 200ms transform, 200ms top;
  transition: 200ms transform, 200ms top, 200ms -webkit-transform; }

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 4px; }

.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  white-space: nowrap; }

.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transition: 200ms left, 200ms -webkit-transform;
  transition: 200ms left, 200ms -webkit-transform;
  -o-transition: 200ms transform, 200ms left;
  transition: 200ms transform, 200ms left;
  transition: 200ms transform, 200ms left, 200ms -webkit-transform; }

.swiper-container-horizontal.swiper-container-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transition: 200ms right, 200ms -webkit-transform;
  transition: 200ms right, 200ms -webkit-transform;
  -o-transition: 200ms transform, 200ms right;
  transition: 200ms transform, 200ms right;
  transition: 200ms transform, 200ms right, 200ms -webkit-transform; }

/* Progress */
.swiper-pagination-progressbar {
  background: rgba(0, 0, 0, 0.25);
  position: absolute; }

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #007aff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top; }

.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top; }

.swiper-container-horizontal > .swiper-pagination-progressbar {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0; }

.swiper-container-vertical > .swiper-pagination-progressbar {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0; }

.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #ffffff; }

.swiper-pagination-progressbar.swiper-pagination-white {
  background: rgba(255, 255, 255, 0.25); }

.swiper-pagination-progressbar.swiper-pagination-white .swiper-pagination-progressbar-fill {
  background: #ffffff; }

.swiper-pagination-black .swiper-pagination-bullet-active {
  background: #000000; }

.swiper-pagination-progressbar.swiper-pagination-black {
  background: rgba(0, 0, 0, 0.25); }

.swiper-pagination-progressbar.swiper-pagination-black .swiper-pagination-progressbar-fill {
  background: #000000; }

/* Scrollbar */
.swiper-scrollbar {
  -webkit-border-radius: 10px;
          border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1); }

.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%; }

.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%; }

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 10px;
          border-radius: 10px;
  left: 0;
  top: 0; }

.swiper-scrollbar-cursor-drag {
  cursor: move; }

.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center; }

.swiper-zoom-container > img,
.swiper-zoom-container > svg,
.swiper-zoom-container > canvas {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
  object-fit: contain; }

.swiper-slide-zoomed {
  cursor: move; }

/* Preloader */
.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  animation: swiper-preloader-spin 1s steps(12, end) infinite; }

.swiper-lazy-preloader:after {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  -webkit-background-size: 100% 100%;
          background-size: 100%;
  background-repeat: no-repeat; }

.swiper-lazy-preloader-white:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E"); }

@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/* a11y */
.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000; }

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.swiper-container-fade .swiper-slide {
  pointer-events: none;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity; }

.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-container-cube {
  overflow: visible; }

.swiper-container-cube .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
  visibility: hidden;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 100%;
  height: 100%; }

.swiper-container-cube .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-container-cube.swiper-container-rtl .swiper-slide {
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0; }

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-prev,
.swiper-container-cube .swiper-slide-next + .swiper-slide {
  pointer-events: auto;
  visibility: visible; }

.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  z-index: 0; }

.swiper-container-flip {
  overflow: visible; }

.swiper-container-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1; }

.swiper-container-flip .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-container-flip .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-container-flip .swiper-slide-shadow-top,
.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.swiper-container-coverflow .swiper-wrapper {
  /* Windows 8 IE 10 fix */
  -ms-perspective: 1200px; }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu-b-webfont.woff") format("woff"), url("../fonts/ubuntu-b-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu-light-webfont.woff") format("woff"), url("../fonts/Ubuntu-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu-medium-webfont.woff") format("woff"), url("../fonts/ubuntu-medium-webfont.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu-regular-webfont.woff") format("woff"), url("../fonts/Ubuntu-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gagalin-Regular';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff"), url("../fonts/gagalin-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lifehack-Medium';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff"), url("../fonts/lifehack_medium-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

html,
body {
  height: 100%;
  font-size: 16px; }
  @media screen and (max-width: 768px) {
    html,
    body {
      font-size: 15px; } }
  @media screen and (max-width: 480px) {
    html,
    body {
      font-size: 14px; } }

body {
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.wrapper {
  position: relative;
  width: 100%;
  /* min-width: 960px;
  @include tablets {
    min-width: 768px;
  }
  @include phones {
    min-width: 480px;
  }*/
  min-height: 100%;
  /*overflow: hidden;*/ }

.section {
  /*height: 100vh;
  min-height: 650px;*/
  height: 100%; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

p {
  padding: 0;
  margin: 0; }

.icon_red {
  fill: #E45028; }

.icon_yellow {
  fill: #f9b43b; }

.icon_green {
  fill: #8ac03e; }

.icon_white {
  fill: #ffffff; }

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 960px;
  margin: 0 auto; }
  .container_greeting {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .container_we {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .container_burger {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .container_form {
    padding: 0 1.25rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .container_footer {
    padding: 0 1.25rem; }
    @media screen and (max-width: 480px) {
      .container_footer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; } }

.greeting {
  background: url("../images/bg/texture.png") repeat, url("../images/bg/video-bg.jpg") no-repeat center/cover;
  position: relative; }

.header {
  width: 100%;
  padding-top: 0.625rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.logo {
  width: 5.75rem;
  height: 4.3125rem; }
  .logo_active {
    position: fixed;
    top: 0.5rem;
    left: 0;
    z-index: 105; }
  .logo__img {
    width: 100%;
    height: 100%; }

.nav {
  padding: 0 0.9375rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .nav-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    @media screen and (max-width: 768px) {
      .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        overflow: hidden;
        z-index: 100;
        background-color: rgba(47, 50, 52, 0.99);
        opacity: 0;
        -webkit-transition: opacity .3s linear;
        -o-transition: opacity .3s linear;
        transition: opacity .3s linear; } }
    .nav-list_active {
      width: 100%;
      height: 100%;
      opacity: 1;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
  .nav__item:not(:last-child):after {
    display: inline-block;
    padding: 0 0.9375rem;
    content: '•';
    font-size: 0.8125rem;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    color: #ffffff; }
    @media screen and (max-width: 768px) {
      .nav__item:not(:last-child):after {
        display: block;
        text-align: center;
        font-size: 1.5rem;
        padding: 0; } }
  .nav__item:last-child {
    padding-right: 0.9375rem; }
    @media screen and (max-width: 768px) {
      .nav__item:last-child {
        padding-right: 0; } }
  .nav__link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Ubuntu', Helvetiva, sans-serif;
    font-weight: 500;
    color: #ffffff;
    font-size: 0.8125rem; }
    @media screen and (max-width: 768px) {
      .nav__link {
        font-size: 1.5rem;
        line-height: 2.5rem; } }
    .nav__link:hover {
      text-decoration: underline; }

.hamburger-menu {
  margin-left: 1.875rem;
  display: none; }
  @media screen and (max-width: 768px) {
    .hamburger-menu {
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .hamburger-menu__line {
    background-color: #ffffff;
    width: 1.5rem;
    height: 0.25rem;
    -webkit-border-radius: 0.125rem;
            border-radius: 0.125rem;
    margin-bottom: 0.3125rem;
    -webkit-transition: background-color .3s linear, -webkit-transform .1s linear;
    transition: background-color .3s linear, -webkit-transform .1s linear;
    -o-transition: transform .1s linear, background-color .3s linear;
    transition: transform .1s linear, background-color .3s linear;
    transition: transform .1s linear, background-color .3s linear, -webkit-transform .1s linear; }
  .hamburger-menu_active {
    position: fixed;
    z-index: 105;
    top: 1.5625rem;
    right: 0.9375rem; }
    .hamburger-menu_active .hamburger-menu__line {
      background-color: #c1c2c2; }
    .hamburger-menu_active .hamburger-menu__line:nth-child(1n+0) {
      -webkit-transform: rotate(45deg) translateY(0.75rem);
          -ms-transform: rotate(45deg) translateY(0.75rem);
              transform: rotate(45deg) translateY(0.75rem); }
    .hamburger-menu_active .hamburger-menu__line:nth-child(2n+0) {
      opacity: 0; }
    .hamburger-menu_active .hamburger-menu__line:nth-child(3n+0) {
      -webkit-transform: rotate(-45deg) translateY(-0.8125rem);
          -ms-transform: rotate(-45deg) translateY(-0.8125rem);
              transform: rotate(-45deg) translateY(-0.8125rem); }

.greeting-content {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media screen and (max-width: 768px) {
    .greeting-content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .greeting-content__column {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 50%;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%; }
    @media screen and (max-width: 768px) {
      .greeting-content__column {
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 100%;
            -ms-flex: 0 1 100%;
                flex: 0 1 100%; } }
  .greeting-content__burger {
    background: url("../images/icons/drops.svg") no-repeat;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 28.1875rem;
    height: 26.5rem;
    padding: 0 0 8.625rem 1.25rem; }
    @media screen and (max-width: 768px) {
      .greeting-content__burger {
        -webkit-background-size: contain;
                background-size: contain;
        width: 18.75rem;
        height: 17.625rem;
        padding: 0 0 5.75rem 0.8125rem; } }
  .greeting-content__img {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    width: 100%; }
  .greeting-content__info {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media screen and (max-width: 768px) {
      .greeting-content__info {
        height: auto; } }
  .greeting-content__title {
    font-family: 'Gagalin-Regular', Helvetiva, sans-serif;
    font-size: 4.5rem;
    color: #f9b43b;
    margin: 0 0 1.25rem 0; }
    @media screen and (max-width: 768px) {
      .greeting-content__title {
        font-size: 3rem; } }
    @media screen and (max-width: 768px) {
      .greeting-content__title {
        text-align: center; } }
  .greeting-content__text {
    color: #ffffff;
    font-family: 'Lifehack-Medium', Helvetiva, sans-serif;
    font-size: 4.0625rem;
    margin: 0; }
    @media screen and (max-width: 768px) {
      .greeting-content__text {
        text-align: center;
        padding: 0 7.5rem;
        font-size: 2.6875rem; } }

.scroll {
  width: 1.875rem;
  height: 0.9375rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 50%;
  bottom: 3.125rem;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }
  .scroll__img {
    width: 100%;
    height: 100%; }

.we {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../images/bg/bg-we.jpg") no-repeat center/cover; }

.title-we {
  font-family: 'Gagalin-Regular', Helvetiva, sans-serif;
  font-size: 4.5rem;
  color: #2f3234;
  margin: 0 0 5rem 0;
  text-align: center; }
  @media screen and (max-width: 768px) {
    .title-we {
      font-size: 3rem; } }
  @media screen and (max-width: 480px) {
    .title-we {
      margin-bottom: 0.625rem; } }

.we-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }
  @media screen and (max-width: 480px) {
    .we-list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .we-list__item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0 1.25rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media screen and (max-width: 480px) {
      .we-list__item {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 auto;
            -ms-flex: 1 1 auto;
                flex: 1 1 auto;
        margin-bottom: 1.25rem; } }
  .we-list__image {
    width: 5.625rem;
    height: 5.625rem;
    margin-bottom: 1.875rem; }
    @media screen and (max-width: 480px) {
      .we-list__image {
        -webkit-box-flex: 3;
        -webkit-flex: 3;
            -ms-flex: 3;
                flex: 3;
        padding-right: 1.25rem; } }
  .we-list__picture {
    width: 100%;
    height: 100%; }
  .we-list__description {
    text-align: center;
    width: 100%; }
    @media screen and (max-width: 480px) {
      .we-list__description {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-flex: 7;
        -webkit-flex: 7;
            -ms-flex: 7;
                flex: 7;
        text-align: left; } }
  .we-list__title {
    font-family: 'Lifehack-Medium', Helvetiva, sans-serif;
    font-size: 1.5rem;
    color: #2f3234; }
    @media screen and (max-width: 480px) {
      .we-list__title {
        margin-bottom: 0; } }
  .we-list__text {
    font-family: 'Ubuntu', Helvetiva, sans-serif;
    font-weight: 300;
    font-size: 0.875rem;
    color: #2f3234;
    line-height: 1.5rem; }

.burger {
  background: -webkit-gradient(linear, left top, left bottom, from(#f9b43b), color-stop(48%, #eb8c38), color-stop(74%, #f9b43b));
  background: -webkit-linear-gradient(#f9b43b 0%, #eb8c38 48%, #f9b43b 74%);
  background: -o-linear-gradient(#f9b43b 0%, #eb8c38 48%, #f9b43b 74%);
  background: linear-gradient(#f9b43b 0%, #eb8c38 48%, #f9b43b 74%); }

.arrow_left {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }

.arrow_right {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg); }

.arrow__img {
  width: 100%;
  height: 100%; }

@media screen and (max-width: 768px) {
  .slider-list {
    padding-top: 6.25rem; } }

.slider-list__item {
  padding: 1.875rem 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .slider-list__item {
      padding: 0 5.625rem;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; } }
  @media screen and (max-width: 480px) {
    .slider-list__item {
      padding: 0; } }

.slider-list__column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%; }
  @media screen and (max-width: 768px) {
    .slider-list__column {
      width: 100%; } }

.burger-info {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }
  .burger-info__picture {
    width: 100%; }
    @media screen and (max-width: 480px) {
      .burger-info__picture {
        width: 60%;
        margin: 0 auto; } }
  .burger-info__img {
    width: 100%;
    height: 100%; }
  .burger-info__composition {
    position: absolute;
    top: -1.875rem;
    left: 0;
    width: 5.625rem;
    height: 5.625rem;
    background-color: #f08c33;
    -webkit-border-radius: 0.3125rem;
            border-radius: 0.3125rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    -webkit-transition: background-color .3s linear;
    -o-transition: background-color .3s linear;
    transition: background-color .3s linear; }
    @media screen and (max-width: 768px) {
      .burger-info__composition {
        top: -5.625rem; } }
    .burger-info__composition:hover {
      background-color: #E45028; }
    .burger-info__composition:hover .composition-list {
      position: absolute;
      min-width: 16.875rem;
      height: auto;
      top: 0;
      left: 5.625rem;
      padding: 1.25rem;
      opacity: 1; }
  .burger-info__icon {
    width: 2.8125rem;
    height: 2.5rem;
    fill: #ffffff;
    margin-bottom: 0.3125rem; }
  .burger-info__icon-text {
    color: #ffffff;
    font-family: 'Gagalin-Regular', Helvetiva, sans-serif;
    font-size: 0.875rem;
    text-transform: uppercase; }
  .burger-info__calories {
    position: absolute;
    left: 0;
    bottom: -1.875rem;
    width: 5.625rem;
    height: 5.625rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: .5; }
    @media screen and (max-width: 768px) {
      .burger-info__calories {
        left: auto;
        right: 0;
        bottom: auto;
        top: -5.625rem; } }
  .burger-info__number-calories {
    width: 3.75rem;
    height: 3.75rem;
    background: url("../images/icons/kkal.svg");
    -webkit-background-size: contain;
            background-size: contain;
    text-align: center;
    line-height: 5rem;
    color: #ffffff;
    font-family: 'Gagalin-Regular', Helvetiva, sans-serif;
    text-transform: uppercase;
    font-size: 1.25rem; }
  .burger-info__kkal {
    font-family: 'Gagalin-Regular', Helvetiva, sans-serif;
    text-transform: uppercase;
    font-size: 0.875rem;
    color: #ffffff; }

.composition-list {
  position: absolute;
  left: -9999px;
  width: 0;
  height: 0;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-border-radius: 0.3125rem;
          border-radius: 0.3125rem;
  cursor: default;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s linear;
  -o-transition: opacity .3s linear;
  transition: opacity .3s linear; }
  .composition-list__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0.625rem; }
    .composition-list__item:last-child {
      margin-bottom: 0; }
  .composition-list__icon {
    width: 2.8125rem;
    height: 2.8125rem;
    margin-right: 1.25rem; }
  .composition-list__name {
    font-family: 'Ubuntu', Helvetiva, sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .composition-list__weight {
    font-family: 'Ubuntu', Helvetiva, sans-serif;
    font-weight: 500;
    font-size: 0.875rem; }

.burger-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 768px) {
    .burger-content {
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center; } }
  .burger-content__title {
    font-family: 'Gagalin-Regular', Helvetiva, sans-serif;
    font-size: 4.5rem;
    color: #ffffff;
    line-height: 4rem;
    margin-bottom: 2.1875rem;
    text-transform: uppercase; }
    @media screen and (max-width: 768px) {
      .burger-content__title {
        font-size: 3rem; } }
    @media screen and (max-width: 768px) {
      .burger-content__title {
        margin: 0.625rem 0 0.625rem 0; } }
    @media screen and (max-width: 480px) {
      .burger-content__title {
        font-size: 3.125rem; } }
  .burger-content__text {
    color: #ffffff;
    margin-bottom: 0.625rem;
    width: 100%; }
    .burger-content__text p {
      font-family: 'Ubuntu', Helvetiva, sans-serif;
      font-weight: 300;
      font-size: 0.8125rem;
      line-height: 1.5rem; }
  .burger-content__order {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline; }
  .burger-content__currency {
    font-family: 'Gagalin-Regular', Helvetiva, sans-serif;
    color: #E45028;
    font-size: 1.875rem;
    margin-right: 1.875rem;
    white-space: nowrap; }
  .burger-content__price {
    font-size: 4.5rem; }
    @media screen and (max-width: 480px) {
      .burger-content__price {
        font-size: 3.125rem; } }

.command {
  background: url("../images/bg/command-bg.jpg") no-repeat center top/cover;
  position: relative; }
  .command__column {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    background-color: rgba(47, 50, 52, 0.9); }
    @media screen and (max-width: 768px) {
      .command__column {
        width: 100%; } }
  .command__content {
    padding: 5.625rem 0 0 5rem; }
    @media screen and (max-width: 768px) {
      .command__content {
        padding: 2.8125rem 0 0 0; } }
  .command__title {
    margin: 0 0 5.625rem 0;
    font-family: 'Gagalin-Regular', Helvetiva, sans-serif;
    font-size: 4.5rem;
    color: #f9b43b; }
    @media screen and (max-width: 768px) {
      .command__title {
        font-size: 3rem; } }
    @media screen and (max-width: 768px) {
      .command__title {
        text-align: center;
        margin-bottom: 2.8125rem; } }

.accordeon-list__item {
  margin-bottom: 1.5625rem; }
  @media screen and (max-width: 768px) {
    .accordeon-list__item {
      text-align: center; } }

.accordeon-list__name {
  display: inline-block;
  margin-bottom: 0.9375rem;
  color: #ffffff;
  font-family: 'Gagalin-Regular', Helvetiva, sans-serif;
  font-size: 0.875rem;
  text-transform: uppercase;
  text-decoration: none; }
  @media screen and (max-width: 768px) {
    .accordeon-list__name {
      font-size: 1.5625rem; } }
  .accordeon-list__name:before {
    display: inline-block;
    margin-right: 0.625rem;
    content: '';
    width: 0;
    height: 0;
    border-left: 0.3125rem solid transparent;
    border-right: 0.3125rem solid transparent;
    border-top: 0.3125rem solid #f9b43b;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: -webkit-transform .3s ease-out;
    -o-transition: transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out; }

.accordeon-list__content {
  font-size: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 0;
  -webkit-transition: height .3s ease-out;
  -o-transition: height .3s ease-out;
  transition: height .3s ease-out; }
  @media screen and (max-width: 768px) {
    .accordeon-list__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }

.accordeon-list__picture {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 6.25rem;
      -ms-flex: 0 0 6.25rem;
          flex: 0 0 6.25rem;
  height: 6.25rem;
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    .accordeon-list__picture {
      width: 6.25rem; } }

.accordeon-list__image {
  height: 100%;
  width: 100%;
  -webkit-border-radius: 50%;
          border-radius: 50%; }

.accordeon-list__description {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 16.25rem;
      -ms-flex: 0 0 16.25rem;
          flex: 0 0 16.25rem;
  padding: 0 1.875rem 0 1.25rem; }
  @media screen and (max-width: 768px) {
    .accordeon-list__description {
      text-align: center;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1;
      padding: 0;
      width: 20rem; } }

.accordeon-list__proffesion {
  padding: 0 0 0.75rem 0;
  font-family: 'Ubuntu', Helvetiva, sans-serif;
  font-weight: bold;
  font-size: 0.875rem;
  color: #ffffff; }
  @media screen and (max-width: 768px) {
    .accordeon-list__proffesion {
      padding-top: 1.25rem; } }

.accordeon-list__text {
  font-family: 'Ubuntu', Helvetiva, sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #ffffff; }

.accordeon-list__item_active .accordeon-list__name {
  color: #f9b43b; }
  .accordeon-list__item_active .accordeon-list__name:before {
    -webkit-transform: rotate(-180deg) translateY(100%);
        -ms-transform: rotate(-180deg) translateY(100%);
            transform: rotate(-180deg) translateY(100%); }

.menu {
  position: relative;
  background: url("../images/bg/menu-bg.jpg") no-repeat center/cover; }
  .menu__title {
    position: absolute;
    top: 5%;
    left: 10%;
    font-family: 'Gagalin-Regular', Helvetiva, sans-serif;
    font-size: 4.5rem;
    color: #ffffff; }
    @media screen and (max-width: 768px) {
      .menu__title {
        font-size: 3rem; } }

.menu-accord {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0; }
  @media screen and (max-width: 768px) {
    .menu-accord {
      left: 0; } }
  .menu-accord__item {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    @media screen and (max-width: 768px) {
      .menu-accord__item {
        width: 5rem; } }
  .menu-accord__link {
    width: 5rem;
    height: 100%;
    display: block;
    position: relative;
    background: no-repeat center/cover; }
    .menu-accord__link:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(20, 20, 20, 0.7); }
  .menu-accord__title {
    display: inline-block;
    position: absolute;
    top: 50%;
    font-size: 2.5rem;
    white-space: nowrap;
    -webkit-transition: color .3s linear;
    -o-transition: color .3s linear;
    transition: color .3s linear;
    font-family: 'Gagalin-Regular', Helvetiva, sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    -webkit-transform: translateX(-35%) rotate(-90deg);
        -ms-transform: translateX(-35%) rotate(-90deg);
            transform: translateX(-35%) rotate(-90deg); }
    @media screen and (max-width: 768px) {
      .menu-accord__title {
        top: 95%;
        -webkit-transform: translateX(3%) rotate(-90deg);
            -ms-transform: translateX(3%) rotate(-90deg);
                transform: translateX(3%) rotate(-90deg);
        -webkit-transform-origin: left top;
            -ms-transform-origin: left top;
                transform-origin: left top; } }
  .menu-accord__description {
    width: 0;
    overflow: hidden;
    background-color: rgba(47, 50, 52, 0.8);
    color: #ffffff;
    -webkit-transition: width .3s linear;
    -o-transition: width .3s linear;
    transition: width .3s linear; }
    .menu-accord__description p {
      font-family: 'Ubuntu', Helvetiva, sans-serif;
      font-weight: 300;
      font-size: 0.875rem;
      line-height: 1.5rem;
      opacity: 0; }
  @media screen and (max-width: 768px) {
    .menu-accord__item_active {
      width: 100%; } }
  .menu-accord__item_active .menu-accord__title {
    color: #f9b43b; }
  .menu-accord__item_active .menu-accord__description {
    padding: 5rem 2.1875rem;
    width: 33.75rem; }
    @media screen and (max-width: 768px) {
      .menu-accord__item_active .menu-accord__description {
        width: 100%; } }
    @media screen and (max-width: 480px) {
      .menu-accord__item_active .menu-accord__description {
        padding: 0; } }
    .menu-accord__item_active .menu-accord__description p {
      opacity: 1;
      -webkit-transition: opacity .3s linear .3s;
      -o-transition: opacity .3s linear .3s;
      transition: opacity .3s linear .3s; }

.reviews-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(47, 50, 52, 0.92);
  z-index: 20;
  display: none; }
  .reviews-popup__window {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 29.5rem;
    padding: 1.5rem;
    background-color: #ffffff;
    -webkit-border-radius: 0.3125rem;
            border-radius: 0.3125rem; }
    @media screen and (max-width: 480px) {
      .reviews-popup__window {
        width: 95%; } }
  .reviews-popup__dismiss {
    width: 1.3125rem;
    height: 1.3125rem;
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    display: block; }
  .reviews-popup__line {
    display: block;
    width: 1.3125rem;
    height: 0.25rem;
    -webkit-border-radius: 0.125rem;
            border-radius: 0.125rem;
    background-color: #ec8468; }
    .reviews-popup__line:first-child {
      -webkit-transform: translateY(50%) rotate(45deg);
          -ms-transform: translateY(50%) rotate(45deg);
              transform: translateY(50%) rotate(45deg); }
    .reviews-popup__line:last-child {
      -webkit-transform: translateY(-50%) rotate(-45deg);
          -ms-transform: translateY(-50%) rotate(-45deg);
              transform: translateY(-50%) rotate(-45deg); }
  .reviews-popup__container h3 {
    font-family: 'Gagalin-Regular', Helvetiva, sans-serif;
    color: #2f3234;
    font-size: 0.875rem;
    text-transform: uppercase; }
  .reviews-popup__container p {
    font-family: 'Ubuntu', Helvetiva, sans-serif;
    font-weight: 300;
    color: #2f3234;
    font-size: 0.875rem;
    line-height: 1.5rem; }

.reviews__item {
  background: no-repeat center/cover;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 25%;
      -ms-flex: 1 0 25%;
          flex: 1 0 25%;
  position: relative;
  -webkit-filter: grayscale(1);
          filter: grayscale(1); }
  @media screen and (max-width: 768px) {
    .reviews__item {
      -webkit-box-flex: 1;
      -webkit-flex: 1 0 50%;
          -ms-flex: 1 0 50%;
              flex: 1 0 50%; } }
  .reviews__item:hover .reviews__description {
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0; }

.reviews__description {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 7.2%;
  height: 0;
  overflow: hidden;
  background-color: rgba(20, 20, 20, 0.7);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: height .3s ease-in;
  -o-transition: height .3s ease-in;
  transition: height .3s ease-in; }
  @media screen and (max-width: 768px) {
    .reviews__description {
      text-align: center;
      padding: 0; } }
  .reviews__description p {
    font-family: 'Ubuntu', Helvetiva, sans-serif;
    font-weight: 300;
    font-size: 0.875rem;
    color: #ffffff;
    line-height: 1.5rem;
    margin-bottom: 1.25rem; }
    @media screen and (max-width: 768px) {
      .reviews__description p {
        line-height: normal;
        margin-bottom: 0.8125rem; } }
    @media screen and (max-width: 480px) {
      .reviews__description p {
        height: 0;
        overflow: hidden; } }

.reviews__name {
  font-family: 'Gagalin-Regular', Helvetiva, sans-serif;
  font-size: 0.875rem;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 3.125rem; }
  @media screen and (max-width: 768px) {
    .reviews__name {
      padding-top: 0.625rem; } }
  @media screen and (max-width: 480px) {
    .reviews__name {
      padding-top: 20%; } }

.reviews-list {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.reviews-button {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-family: 'Ubuntu', Helvetiva, sans-serif;
  font-weight: 500;
  font-size: 0.8125rem;
  text-transform: uppercase;
  -webkit-border-radius: 0.3125rem;
          border-radius: 0.3125rem;
  background-color: #2f3234;
  padding: 0.8125rem 1.75rem; }
  @media screen and (max-width: 768px) {
    .reviews-button {
      font-size: 0.625rem;
      padding: 0.625rem 1.375rem; } }
  .reviews-button:hover {
    background-color: #1f2122; }

.payment {
  background: url("../images/bg/form-bg.jpg") no-repeat center/cover; }
  .payment__title {
    font-family: 'Gagalin-Regular', Helvetiva, sans-serif;
    font-size: 4.5rem;
    color: #f9b43b;
    text-align: center; }
    @media screen and (max-width: 768px) {
      .payment__title {
        font-size: 3rem; } }
    @media screen and (max-width: 480px) {
      .payment__title {
        margin-bottom: 0;
        line-height: 3.125rem; } }

.form__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .form__container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 0 16.27%; } }
  @media screen and (max-width: 480px) {
    .form__container {
      padding: 0; } }

.form__column {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 50%;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  margin-right: 1.25rem; }
  @media screen and (max-width: 768px) {
    .form__column {
      margin-right: 0; } }
  .form__column:last-child {
    margin-right: 0; }

.form__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.25rem; }
  @media screen and (max-width: 480px) {
    .form__row_phone {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start; }
      .form__row_phone .form__block {
        -webkit-box-flex: 0;
        -webkit-flex: 0 9.375rem;
            -ms-flex: 0 9.375rem;
                flex: 0 9.375rem;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
      .form__row_phone .form__block_btn {
        -webkit-box-flex: 0;
        -webkit-flex: 0;
            -ms-flex: 0;
                flex: 0; } }

.form__block {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.25rem; }
  .form__block:last-child {
    margin-right: 0; }

.form__label {
  color: #ffffff;
  font-family: 'Ubuntu', Helvetiva, sans-serif;
  font-weight: 300;
  font-size: 0.875rem; }

.form__input {
  height: 2.1875rem;
  width: 100%;
  padding: 0 0.3125rem;
  -webkit-border-radius: 0.3125rem;
          border-radius: 0.3125rem;
  outline: none;
  border: 0.125rem solid transparent; }
  .form__input:focus {
    border: 0.125rem solid #f9b43b; }

.form__textarea {
  width: 100%;
  height: 6.625rem;
  padding: 0.3125rem;
  resize: none;
  -webkit-border-radius: 0.3125rem;
          border-radius: 0.3125rem;
  outline: none;
  border: 0.125rem solid transparent; }
  .form__textarea:focus {
    border: 0.125rem solid #f9b43b; }

.form__input_radio {
  position: absolute;
  left: -9999px; }

.form__label_type_radio {
  position: relative;
  cursor: pointer; }
  .form__label_type_radio:before {
    content: '';
    vertical-align: text-top;
    width: 1rem;
    height: 1rem;
    -webkit-border-radius: 3.125rem;
            border-radius: 3.125rem;
    display: inline-block;
    background-color: #ffffff;
    margin-right: 0.625rem; }
  .form__label_type_radio:after {
    content: '';
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #e35028;
    top: 0.5rem;
    left: 0.25rem;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 0;
    -webkit-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear; }

.form__input_radio:checked + .form__label_type_radio:after {
  opacity: 1; }

.form__input_checkbox {
  position: absolute;
  left: -9999px; }

.form__label_type_checkbox {
  position: relative;
  cursor: pointer; }
  .form__label_type_checkbox:before {
    content: '';
    vertical-align: text-top;
    display: inline-block;
    width: 0.9375rem;
    height: 0.9375rem;
    margin-right: 0.625rem;
    background-color: #ffffff; }
  .form__label_type_checkbox:after {
    content: '';
    display: inline-block;
    width: 0.9375rem;
    height: 0.9375rem;
    position: absolute;
    top: 0.5rem;
    left: 0;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    background: url("../images/icons/icons8.svg") no-repeat center/cover;
    opacity: 0;
    -webkit-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear; }

.form__input_checkbox:checked + .form__label_type_checkbox:after {
  opacity: 1; }

.form__block_btn {
  -webkit-box-flex: 0;
  -webkit-flex: 0;
      -ms-flex: 0;
          flex: 0; }

.form__reset {
  outline: none;
  border: none;
  color: #ffffff;
  font-family: 'Ubuntu', Helvetiva, sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
  background-color: transparent;
  line-height: 2.1875rem;
  cursor: pointer; }
  .form__reset:hover {
    text-decoration: underline; }

.section-contacts {
  position: relative;
  background-color: #2f3234; }
  .section-contacts__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5; }

.footer {
  padding: 1.125rem 0;
  background: url("../images/bg/footer-bg.jpg") no-repeat center/cover; }
  .footer__column {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 50%;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

.order-button {
  padding: 0 0.9375rem;
  background-color: #E45028;
  -webkit-border-radius: 0.3125rem;
          border-radius: 0.3125rem;
  font-family: 'Ubuntu', Helvetiva, sans-serif;
  font-weight: 500;
  font-size: 0.8125rem;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  line-height: 2.1875rem;
  -webkit-transition: .3s linear;
  -o-transition: .3s linear;
  transition: .3s linear; }
  .order-button:hover {
    background: #C1401E; }
  .order-button_form {
    outline: none;
    border: none;
    cursor: pointer; }
  .order-button_hide {
    display: none; }
  .order-button_dismiss {
    display: inline-block; }

.onepage-pagination {
  position: fixed !important;
  right: 3.3% !important;
  top: 5.625rem !important;
  z-index: 10 !important;
  padding: 0; }
  .onepage-pagination li {
    margin-bottom: 0.3125rem !important; }
  .onepage-pagination a {
    -webkit-box-sizing: border-box !important;
            box-sizing: border-box !important;
    display: block !important;
    position: relative !important;
    width: 1rem !important;
    height: 1rem !important;
    border: 0.0625rem solid transparent !important;
    -webkit-border-radius: 50% !important;
            border-radius: 50% !important;
    padding: 0 !important; }
    .onepage-pagination a:hover, .onepage-pagination a.active {
      border: 1px solid #ffffff !important; }
    .onepage-pagination a.active:before {
      margin-top: 0 !important; }
    .onepage-pagination a:before {
      border: none !important;
      position: absolute !important;
      top: 50% !important;
      left: 50% !important;
      content: "" !important;
      width: 0.375rem !important;
      height: 0.375rem !important;
      -webkit-transform: translate(-50%, -50%) !important;
          -ms-transform: translate(-50%, -50%) !important;
              transform: translate(-50%, -50%) !important;
      -webkit-border-radius: 50% !important;
              border-radius: 50% !important;
      background-color: #ffffff !important; }

.contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media screen and (max-width: 480px) {
    .contacts {
      text-align: center; } }
  .contacts__address {
    color: #ffffff;
    font-family: 'Ubuntu', Helvetiva, sans-serif;
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1.5rem; }
  .contacts__phone {
    color: #f08c33;
    font-family: 'Ubuntu', Helvetiva, sans-serif;
    font-weight: bold;
    font-size: 0.875rem;
    text-decoration: none;
    line-height: 1.5rem;
    -webkit-transition: .1s linear;
    -o-transition: .1s linear;
    transition: .1s linear; }
    .contacts__phone:hover {
      color: #ffffff; }
      .contacts__phone:hover .contacts__icon {
        fill: #ffffff; }
  .contacts__icon {
    display: inline-block;
    margin-right: 0.5rem;
    width: 0.75rem;
    height: 0.75rem;
    fill: #f08c33; }

.social-list {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media screen and (max-width: 480px) {
    .social-list {
      margin-top: 0.9375rem;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .social-list__item {
    margin-right: 1.25rem; }
    .social-list__item:last-child {
      margin-right: 0; }
  .social-list__icon {
    width: 1.25rem;
    height: 1.25rem;
    fill: #5a5a5a;
    -webkit-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear; }
    .social-list__icon:hover {
      fill: #ffffff; }

.form-popup {
  display: none;
  padding: 1.25rem;
  width: 12.5rem;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  -webkit-box-shadow: 0 0 40px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 40px 4px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  -webkit-border-radius: 0.3125rem;
          border-radius: 0.3125rem; }
  .form-popup p {
    font-family: 'Ubuntu', Helvetiva, sans-serif;
    font-weight: 300;
    color: #2f3234;
    font-size: 0.875rem;
    margin-bottom: 1.25rem; }
