.burger-info {
  align-items: center;
  position: relative;
  &__picture {
    width: 100%;
    @include phones {
      width: 60%;
      margin: 0 auto;
    }
  }
  &__img {
    width: 100%;
    height: 100%;
  }
  &__composition {
    position: absolute;
    top: rem(-30px);
    left: 0;
    width: rem(90px);
    height: rem(90px);
    background-color: $orange;
    border-radius: rem(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color .3s linear;
    @include tablets {
      top: rem(-90px);
    }
    &:hover {
      background-color: $red;
    }
    &:hover .composition-list {
      position: absolute;
      min-width: rem(270px);
      height: auto;
      top: 0;
      left: rem(90px);
      padding: rem(20px);
      opacity: 1;
    }
  }
  &__icon {
    width: rem(45px);
    height: rem(40px);
    fill: #ffffff;
    margin-bottom: rem(5px);
  }
  &__icon-text {
    color: #ffffff;
    @include gagalin();
    font-size: rem(14px);
    text-transform: uppercase;
  }
  &__calories {
    position: absolute;
    left: 0;
    bottom: rem(-30px);
    width: rem(90px);
    height: rem(90px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: .5;
    @include tablets {
      left: auto;
      right: 0;
      bottom: auto;
      top: rem(-90px);
    }
  }
  &__number-calories {
    width: rem(60px);
    height: rem(60px);
    background: url("../images/icons/kkal.svg");
    background-size: contain;
    text-align: center;
    line-height: rem(80px);
    color: #ffffff;
    @include gagalin();
    text-transform: uppercase;
    font-size: rem(20px);
  }
  &__kkal {
    @include gagalin();
    text-transform: uppercase;
    font-size: rem(14px);
    color: #ffffff;
  }
}