.we-list {
  display: flex;
  width: 100%;
  @include phones {
    flex-direction: column;
  }
  &__item {
    flex: 1;
    padding: 0 rem(20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    @include phones {
      flex-direction: row;
      align-items: flex-start;
      flex: 1 1 auto;
      margin-bottom: rem(20px);
    }
  }
  &__image {
    width: rem(90px);
    height: rem(90px);
    margin-bottom: rem(30px);
    @include phones {
      flex: 3;
      padding-right: rem(20px);
    }
  }
  &__picture {
    width: 100%;
    height: 100%;
  }
  &__description {
    text-align: center;
    width: 100%;
    @include phones {
      display: flex;
      flex-direction: column;
      flex: 7;
      text-align: left;
    }
  }
  &__title {
    @include lifehack();
    font-size: rem(24px);
    color: $black;
    @include phones {
      margin-bottom: 0;
    }
  }
  &__text {
    @include ubuntu(light);
    font-size: rem(14px);
    color: $black;
    line-height: rem(24px);
  }
}