.reviews {
  &__item {
    background: no-repeat center/cover;
    flex: 1 0 25%;
    position: relative;
    filter: grayscale(1);
    @include tablets {
      flex: 1 0 50%;
    }
    &:hover .reviews__description {
      height: 100%;
      top: 0;
      left: 0;
      bottom: 0;
    }
  }
  &__description {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 7.2%;
    height: 0;
    overflow: hidden;
    background-color: rgba(20,20,20, .7);
    box-sizing: border-box;
    transition: height .3s ease-in;
    @include tablets {
      text-align: center;
      padding: 0;
    }

    & p {
      @include ubuntu(light);
      font-size: rem(14px);
      color: #ffffff;
      line-height: rem(24px);
      margin-bottom: rem(20px);
      @include tablets {
        line-height: normal;
        margin-bottom: rem(13px);
      }
      @include phones {
        height: 0;
        overflow: hidden;
      }
    }
  }
  &__name {
    @include gagalin();
    font-size: rem(14px);
    color: #ffffff;
    text-transform: uppercase;
    padding-top: rem(50px);
    @include tablets {
      padding-top: rem(10px);
    }
    @include phones {
      padding-top: 20%;
    }
  }
}