
html,
body {
  height: 100%;
  font-size: 16px;
  @include tablets {
    font-size: 15px;
  }
  @include phones {
    font-size: 14px;
  }
}

body {
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  position: relative;
  width: 100%;
 /* min-width: 960px;
  @include tablets {
    min-width: 768px;
  }
  @include phones {
    min-width: 480px;
  }*/
  min-height: 100%;
  /*overflow: hidden;*/
}
.section {
  /*height: 100vh;
  min-height: 650px;*/
  height: 100%;
}
// style reset
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}

p {
  padding: 0;
  margin: 0;
}
