.form-popup {
  display: none;
  padding: rem(20px);
  width: rem(200px);
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  text-align: center;
  box-shadow: 0 0 40px 4px rgba(00,00,00, .5);
  background-color: #ffffff;
  border-radius: rem(5px);
  p {
    @include ubuntu(light);
    color: $black;
    font-size: rem(14px);
    margin-bottom: rem(20px);
  }
}