.payment {
  background: url("../images/bg/form-bg.jpg") no-repeat center/cover;
  &__title {
    @include title($yellow);
    text-align: center;
    @include phones {
      margin-bottom: 0;
      line-height: rem(50px);
    }
  }
}